#item-68ff1e2f449aa56ab5b26b1d [data-section-id="689d6f7e0b0409701aa73b7f"] .section-background {
  background-image: 
            linear-gradient(
          rgba(0, 0, 0, 0.7), 
          rgba(0, 0, 0, 0.7)
        ),
    url("https://static1.squarespace.com/static/685352b2518dd627890cbbea/t/68f634a4ef92103ba0e65cd0/1760965809157/halloween-background.png") !important;
  background-size: cover;
  background-position: center top;
  background-repeat: repeat;
  background-attachment: fixed;
  transition: background-position 0.2s linear;
}

/* Mobile fallback */
@media (max-width: 1024px) {
  #item-68ff1e2f449aa56ab5b26b1d [data-section-id="689d6f7e0b0409701aa73b7f"] .section-background {
    background-attachment: scroll;
  }
}
